:root {
    --font-size-base: 16px;
    --font-size-sm: 14px;
    --font-size-md: 18px;
    --font-size-lg: 26px;
    --font-size-xl: 36px;
    --white: #fff;
    --green: #5db250;
    --green-light: #9de7ac;
    --gray-dark: #323232;
    --purple: #8c40a3;
    --purple-transparent: #8c40a39d;
}
/*****************************
GLOBAL
*****************************/
* {
    box-sizing: border-box;
    font-family: 'Encode Sans', sans-serif;
}

body {
    margin: 0;
    overflow-x: hidden;
}

.container {
    padding-top: 94px;
    padding-left: 88px;
    padding-bottom: 72px;
    padding-right: 174px;
    position: relative;
}

a {
    text-decoration: none;
}

/*****************************
HEADER
*****************************/
.bootcamp {
    background-image: url(../img/chico2.jpg);
    background-size: 100% 900px;
    height: 900px; 
}

/*******************************************************************************************************************************************************************************
clip-path no está soportado en muchos navegadores
***********************************************************************************************************************************************************************/
.bootcamp:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 723px;
    background: rgba(58, 50, 168, 0.452);
    filter: contrast(1.5);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 60.8%);
}

.bootcamp__heading {
    color: var(--white);
    font-size: var(--font-size-xl);
    font-weight: lighter;
    padding-left: 50px;
    position: relative;
}

.bootcamp__heading::before {
    content: url("../img/icono1.png");
    position: absolute;
    left: -15px;
    top: -5px;
}

.bootcamp__sub-heading {
    font-size: var(--font-size-lg);
    color: var(--green-light);
}

.bootcamp__lead {
    color: var(--white);
    font-size: 32px;
    font-weight: 100;
    width: 762px;
}

.bootcamp__metainfo {
    list-style: none;
    
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    width: 373px;
}

.bootcamp__metainfo li {
    color: var(--white);
    font-size: var(--font-size-sm);
    font-weight: 600;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    position: relative;
}

.bootcamp__metainfo li::after {
    content: "";
    border-top: 1.5px solid var(--white);
    width: 60px;
    margin: 12px 0;
}

.bootcamp__metainfo li::before {
    content: "";
    order: 1;
}

.bootcamp__metainfo li:first-of-type::before {
    content: url("../img/icono2bis.png");
}

.bootcamp__metainfo li:nth-of-type(2)::before {
    content: url("../img/icono3.png");
}

.bootcamp__metainfo li:nth-of-type(3)::before {
    content: url("../img/icono4.png");
}



.bootcamp__header {
    position: relative;
    z-index: 20;
}

.bootcamp__header+h2 {
    color: var(--green);
    font-size: var(--font-size-lg);
}

.poligono_texto {
    color: var(--gray-dark);
    display: inline-block;
    width: 593px;
}

.btn--info {
    color: var(--purple);
    border: 1px solid var(--purple);
    font-size: var(--font-size-md);
    border-radius: 23.5px;
    height: 47px;
    width: 213px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    margin-top: 40px;
}

/*******************************************************************************************************************************************************************************
clip-path no está soportado en muchos navegadores
***********************************************************************************************************************************************************************/
.poligono {
    background-color: var(--white);
    height: 500px;
    width: 100vw;
    clip-path: polygon(0px 0px, 100% 57%, 100% 100%, 0% 100%);
    position: absolute;
    left: 0;
    padding-top: 200px;
    padding-left: 86px;
    padding-right: 344px;
    z-index: 0;
}

.poligono h2 {
    color: var(--green);
    font-size: var(--font-size-lg);
    margin-bottom: 11px;
}

/*.poligono{
    border: 30px solid rgba(221, 14, 49, 0.199);
    transform: rotate(12deg) translate(-250px);
    margin-top: 500px;
    overflow: hidden;
}

.poligono *{
    transform: rotate(-12deg) translate(250px) ;
}*/

/*******************************************************************************************************************************************************************************
MOBILE VERSION
***********************************************************************************************************************************************************************/

@media (max-width: 767px){
  
    .container {        
        padding-top: 16px;
        padding-left: 28px;
        padding-bottom: 41px; 
        padding-right: 16px;        
    }
    
    .bootcamp {               
       background-image: url(../img/chico3.jpg);       
       width: 101%;
       background-size: 99vw 550px; 
       background-repeat: no-repeat;
       overflow-x: hidden; 
    }
    .bootcamp:before {
        clip-path: polygon(0% 0, 98% 0%, 98% 64%, 0% 55.8%);
        height: 800px;          
    }

    .bootcamp__heading{
        font-size: 20px;
        word-spacing: 12px;
        font-weight: normal;         
    }

    .bootcamp__heading::before{
    margin-left: 15px;
    margin-right: 0px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;     
    }
    .bootcamp__sub-heading{       
        margin-bottom: 48px;
        font-size: 18px;
        font-weight: 200;
        width: 250px;
    }
    .bootcamp__lead {       
        font-size: 20px;        
        width: 250px;
        font-weight: lighter;        
    }

    .bootcamp__metainfo {      
        display: flex;
        flex-direction: column;                     
    }

    .bootcamp__metainfo li::after {
        display: none;
    }
    
    .bootcamp__metainfo li::before {
        margin-right: 16px;
    }
    .bootcamp__metainfo li {       
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        margin-bottom: 16px;
        font-weight: 300;           
    }

    .poligono{
        margin-top: 56px;
        padding-top: 10px;
        padding-left: 30px;
        padding-right: 30px;
        clip-path: polygon(0% 0%, 100% 10.5%, 100% 100%, 0% 100%);
        height: 600px;
    }
    .poligono h2 {
        font-size: 26px;
        font-weight: 200;
        width: 250px;
        padding-top: 50px;         
    }
.poligono_texto{
    width: 95%;    
    line-height: 1.81;
    color: var(--gray-dark);
}
.btn--info{    
    width: 95%;     
}
}